.App {
  font-family: Arial, sans-serif;
  padding: 2rem;
  text-align: center;
  color: #333;
}
html {
  scroll-behavior: smooth;
}

header {
  background-color: #003366;
  color: white;
  padding: 2rem 1rem;
}

main {
  margin-top: 2rem;
}

section {
  margin: 2rem 0;
}

footer {
  background-color: #f1f1f1;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 0.9rem;
}
